* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: #191b3c;
  }
}

#reels {
  display: flex;
  width: 80vw;
  height: calc((3 / 5) * 80vw);
  max-height: calc(80vh - 50px - 40px);
  max-width: calc((5 / 3) * (80vh - 50px - 40px));
}

.reel {
  overflow: hidden;
  width: 20%;
  height: 100%;
  position: relative;
}

.reel > .icons {
  position: relative;
}

.reel > .icons > img {
  width: calc(100% + 6px);
  margin: -3px 0 0 -3px;
  height: auto;

  /* enable gpu accelaration, fixes iOS flicker */
  transform: translate3d(0, 0, 0);
}

#controls {
}

#controls label {
  display: flex;
  align-items: center;
  margin: 0;
}

#controls label input {
  margin-right: 5px;
}

.autoplay {
  color: #ffffff;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
}

#jackpot {
  color: #d5ad6d;
  font-size: 40px;
  text-align: center;
}

#slot.inverted .reel {
  transform: scaleY(-1);
}

#slot.inverted .reel > .icons > img {
  transform: scaleY(-1);
}

#spin {
  background-color: #cb65db;
  border-radius: 15px;
  font-size: 100%;
  color: #ffffff;
  margin-top: 5%;
  margin-left: 32%;
  width: 36%;
  height: 45px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.bet-box-box {
  margin-top: 5%;
}

.bet-box {
  margin-top: 3%;
  display: flex;
  width: 80vw;
}

.bet-box-btn {
  background-color: #9e258c;
  margin-left: 1%;
  margin-right: 1%;
  width: 15%;
  height: 20px;
  font-size: 37%;
  color: #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.bet-box-btn:active {
  background-color: #761a68;
}

.bet-box-sum {
  display: flex;
  color: #ffffff;
  font-size: 90%;
}

#bet {
  margin-left: 2%;
}

.balance-box-sum {
  display: flex;
  color: #ffffff;
  font-size: 90%;
}

#balance {
  margin-left: 2%;
}
